h1,
h2 {
    font-family:'Poppins', sans-serif;
}

body {
    background-color:#f7f7f7 ;
}
    .hero {
        background: url(../img/cancha.jpg) no-repeat;
        background-size: cover;
        height: 80vh;
        min-height: 800px;
        color: rgb(245, 241, 241);
    }

    .lista-novedades {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .lista-novedades li {
        margin: 4px 0;
    }

    .lista-novedades li a {
        background-color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        font-size: 2rem;
        color: rgb(0, 0, 0);
        transition: all .2s ease-in-out;
        display: block;
    }

    .lista-novedades li a:hover {
        color: rgb(219, 1, 1);
        background-color: #1E448D;
    }

    .lista-novedades li a img {
        width: 100px;
        height: 100px;
        filter: grayscale();
        transition: all .2s ease-in-out;
        margin-right: 1rem;
        opacity: 0.7;
    }

    .lista-novedades li a:hover img {
        filter: none;
        margin-right: 1.4rem;
        opacity: 1;
    }

    .testimonios {
        background-color: #f0ebeb;
        padding-bottom: 0rem !important;
        width: 600px;
        margin-left: 150px;
    }

    .testimonio {
        text-align: center;
        padding: 50px 20px;
    }

    .navbar {
        background-color: #1E448D;
    }

    .imagen {
        padding-top: 50px;
    }

    .img-fluid {
        width: 300px;
        height: 300px;
        margin-right: 1000px;
    }

    .Nosotros{
        width: 100px;
        height: 100px;
        padding-right: 500px;
    }

    .staff {
        background-color:#1E448D ;
    }

 .mapa iframe{
    width: 100%;
    aspect-ratio: 1.2;
 }

 html {
    scroll-behavior: smooth;
 }

 .scroll_section {
    scroll-margin-top:60px;
 }