<div class="slider">
    <ul>
        <li><img src="images/estadio.jpg" alt="estadio jose dellagionava"></li>
        <li><img src="images/fondo3.jpg" alt="tigre vs platense"></li>
        <li><img src="images/fondo4.jpg" alt="abrazo de gol"></li>
        <li><img src="images/cancha2.jpg" alt="tribuna local tigre"></li>
    </ul>
</div>
   
<h3>Plantel</h3>
<h2>Novedades</h2>
<h4>Historia</h4>
<h5>Visitanos</h5>





