<div class="slider">
  <ul>
    <li><img src="images/GettyImages-1396763313.jpg" alt="estadio jose dellagionava" width="100%"></li>
    <li><img src="images/fondo3.jpg" alt="tigre vs platense" width="100%"></li>
    <li><img src="images/entre.jpg" alt="abrazo de gol" width="100%"></li>
    <li><img src="images/reunion.jpg" alt="tribuna local tigre" width="100%"></li>
  </ul>
</div>

<div class="container-img">
    <div class="box-img">
        <a href="/novedades">
            <h1>NOVEDADES</h1>
            <figure>
                <img src="images/patito.jpg" alt="pato galmarini">
            </figure>
        </a>
        
    </div>
    <div class="box-img">
        <a href="/plantel">
             <h1>PLANTEL</h1>
            <figure>
                <img src="images/fondo4.jpg" alt="vestuario tigre">
            </figure>
        </a>
    </div>
    <div class="box-img">
        <a href="/historia">
            <h1>HISTORIA</h1>
            <figure>
                <img src="images/todos los escudos.jpg" alt="escudo 1902 tigre">
            </figure>
        </a>
    </div>
    <div class="box-img">
        <a href="/visitanos">
             <h1>VISITANOS</h1>
            <figure>
                <img src="images/estadio.jpg" alt="jose dellagiovana">
            </figure>
        </a>
    </div>
</div>