 
 <div class="row my-3">
        <div id="novedades" class="col-md-8 offset-md-2 py-3 scroll_section">
            <h2>NOVEDADES</h2>
            <ul class="lista-novedades">
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="images/Escudo_del_Club_Atlético_Tigre_-_2019.svg.png">ULTIMO RESULTADO</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img src="images/tigresud.jpg">TIGRE
                        SUDAMERICANO</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3"><img
                            src="images/retegui.jpg">TENEMOS AL GOLEADOR</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4"><img src="images/patito.jpg">UNA
                        NOCHE ESPECIAL</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal5"><img
                            src="images/Escudo_del_Club_Atlético_Tigre_-_2019.svg.png">ULTIMAS NOTICIAS</a></li>
            </ul>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ultimo Resultado</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h1>RACING 3 - 2 TIGRE</h1>
                        <img src="img/resultado.jpg" alt="resultado">
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">#TIGRESUDAMERICANO</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="" alt="sudamerica">
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">MATEO RETEGUI</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">#PATOETERN8</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ultimas noticias</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>El plantel tendra vacaciones</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5 my-3">
            <div class="rounded py-5 testimonios">
                <h2 class="text-center">Ustedes</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>Que se quede Retegui</h5>
                                <p>SOCIO 40259564</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>Vamos por la sudaca</h5>
                                <p>SOCIO 562398745</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>CHAU EQUI</h5>
                                <p>SOCIO 36597845</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
